/angular/node_modules/*
/angular/bower_components/*
/angular/app/bower_components/*
/angular/.sass-cache/*
/angular/dist/*
/angular/www/*
/awstats/*
angular/app/scripts/controllers/sails-todo.sublime-project

*.sublime-workspace
