Options -Indexes +ExecCGI
AddHandler cgi-script .pl
DirectoryIndex awstats.pl

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.api.lelabmastering.com$ [NC]
RewriteRule ^(.*)$ http://api.lelabmastering.com/awstats/$1 [R=301,L]
