<div ng-controller="IndexCtrl">

	<div class="container">
		<div class="row">
			<div class="col-sm-3">
	    	    <div class="hero-widget well well-sm">
	                <div class="icon">
	                     <i class="glyphicon glyphicon-music"></i>
	                </div>
	                <div class="text">
	                    <var>{{ data.count.credits }}</var>
	                    <label class="text-muted">credits</label>
	                </div>
	                <div class="options">
	                    <a href="#" class="btn btn-default btn-lg" ui-sref="credits.new"><i class="glyphicon glyphicon-plus"></i> Add Credit</a>
	                </div>
	            </div>
			</div>
			<div class="col-sm-3">
	            <div class="hero-widget well well-sm">
	                <div class="icon">
	                     <i class="glyphicon glyphicon-file"></i>
	                </div>
	                <div class="text">
	                    <var>{{ data.count.whitepapers }}</var>
	                    <label class="text-muted">whitepapers</label>
	                </div>
	                <div class="options">
	                    <a href="#" class="btn btn-default btn-lg" ui-sref="whitepapers.new"><i class="glyphicon glyphicon-plus"></i> Add Whitepaper</a>
	                </div>
	            </div>
			</div>
	        <div class="col-sm-3">
	            <div class="hero-widget well well-sm">
	                <div class="icon">
	                     <i class="glyphicon glyphicon-headphones"></i>
	                </div>
	                <div class="text">
	                    <var>{{ data.count.genres }}</var>
	                    <label class="text-muted">genres</label>
	                </div>
	                <div class="options">
	                    <a href="#" class="btn btn-default btn-lg" ui-sref="genres"><i class="glyphicon glyphicon-cog"></i> Manage Genres</a>
	                </div>
	            </div>
			</div>
	        <div class="col-sm-3">
	            <div class="hero-widget well well-sm">
	                <div class="icon">
	                     <i class="glyphicon glyphicon-tags"></i>
	                </div>
	                <div class="text">
	                    <var>{{ data.count.tags }}</var>
	                    <label class="text-muted">tags</label>
	                </div>
	                <div class="options">
	                    <a href="#" class="btn btn-default btn-lg" ui-sref="tags"><i class="glyphicon glyphicon-cog"></i> Manage Tags</a>
	                </div>
	            </div>
	    	</div>
		</div>
		<div class="row">
			<div class="col-sm-6" ng-if="data.credit">
				<h3>Latest Credit</h3>
				<div class="well dashboard-latest">
					<h3 ng-bind="data.credit.album_name"></h3>
					<p class="lead" ng-bind="data.credit.artist_name"></p>
					<img ng-src="{{ cdnUrl }}/images/credits/{{ data.credit.imgName[0].image_name }}" class="pull-right" />
					<ul class="list-unstyled">
						<li>{{ data.credit.engi[0].name }} - {{ data.credit.credit }}</li>
						<li class="text-muted">{{ data.credit.genreName[0].name }} | {{ data.credit.year }}</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6" ng-if="data.whitepaper">
				<h3>Latest Whitepaper</h3>
				<div class="well dashboard-whitepaper">
					<h3 ng-bind="data.whitepaper.title" style="margin:0;"></h3>
					<div class="preview">
						<div ng-bind-html="data.whitepaper.body"></div>
						<div class="fadeout"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
