<div id="settings" ng-controller="TrophiesCtrl">
    <div class="row">
        <div class="col-md-12">
            <h2>Trophies</h2>
            <div cg-busy="trophiesPromise">
                <table class="table table-striped table-hover" id="trophies-table" ng-if="trophies.length"> 
                    <thead>
                        <tr>
                            <th class="table-list-name-column">Name</th>
                            <th class="table-list-name-column">Type</th>
                            <th class="table-list-name-column">Description</th>
                            <th style="width:165px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="trophy in trophies track by trophy.trophy_id">
                            <td><span editable-text="trophy.trophy_name" e-name="trophy_name" e-form="rowform">{{ trophy.trophy_name }}</span></td>
                            <td><span editable-text="trophy.trophy_type" e-name="trophy_type" e-form="rowform">{{ trophy.trophy_type }}</span></td>
                            <td><span editable-text="trophy.trophy_description" e-name="trophy_description" e-form="rowform">{{ trophy.trophy_description }}</span></td>
                            <td>
                                <!-- form -->
                                <form editable-form name="rowform" onbeforesave="saveTrophy($data, trophy.trophy_id)" ng-show="rowform.$visible" class="form-buttons form-inline pull-right" shown="inserted == trophy">
                                  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                    save
                                  </button>
                                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                    cancel
                                  </button>
                                </form>

                                <div class="buttons pull-right" ng-show="!rowform.$visible">
                                  <button class="btn btn-default" ng-click="rowform.$show()">edit</button>
                                  <button class="btn btn-danger" confirm-click="deleteTrophy(trophy.trophy_id, $index)" confirm-message="Are you sure?"><span class="glyphicon glyphicon-trash"></span> delete</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="well">
                <h3 ng-hide="trophies.length" style="margin-top:0;">No Trophies - Add Some</h3>
                <h3 ng-if="trophies.length" style="margin-top:0;">Add Trophy</h3>
                <form class="form-inline" role="form" ng-submit="addTrophy()" autocomplete="off">
                    <div class="form-group" style="margin-right:20px;">
                        <label class="sr-only" for="name">Name</label>
                        <input name="name" type="text" class="form-control" ng-model="newTrophy.trophy_name" placeholder="Name" autocomplete="off">
                    </div>

                    <div class="form-group" style="margin-right:20px;">
                        <label class="sr-only" for="type">Type</label>
                        <input name="type" type="text" class="form-control" ng-model="newTrophy.trophy_type" placeholder="Type" autocomplete="off">
                    </div>

                    <div class="form-group" style="margin-right:20px;">
                        <label class="sr-only" for="description">Description</label>
                        <input name="description" type="text" class="form-control" ng-model="newTrophy.trophy_description" placeholder="Description" autocomplete="off">
                    </div>

                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
