<div id="settings" ng-controller="TrophiesCtrl">
    <div class="row">
        <div class="col-md-12">
            <h2>Trophies</h2>
            <div class="well well-sm" >
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="newGenre.label" placeholder="Add a Genre">
                    </div>
                    <button class="btn btn-primary" ng-click="addGenre()">Add</button>
                </form>
            </div>
            <div cg-busy="trophiesPromise">
                <table class="table table-striped table-hover" id="genres-table">
                    <thead>
                        <tr>
                            <th class="table-list-name-column">Name - Click to edit</th>
                            <th class="table-list-name-column">Type - Click to edit</th>
                            <th class="table-list-name-column">Description - Click to edit</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="trophy in trophies track by trophy.id">
                            <td><a href="#" editable-text="trophy.name" e-name="name" e-form="rowform">{{ trophy.name }}</a></td>
                            <td><a href="#" editable-text="trophy.type" e-name="type" e-form="rowform">{{ trophy.type }}</a></td>
                            <td><a href="#" editable-text="trophy.description" oe-name="description" e-form="rowform">{{ trophy.description }}</a></td>
                            <td>
                                <!-- form -->
                                <form editable-form name="rowform" onbeforesave="saveTrophy($data, trophy.id)" ng-show="rowform.$visible" class="form-buttons form-inline pull-right" shown="inserted == trophy">
                                  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                    save
                                  </button>
                                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                    cancel
                                  </button>
                                </form>

                                <div class="buttons pull-right" ng-show="!rowform.$visible">
                                  <button class="btn btn-default" ng-click="rowform.$show()">edit</button>
                                  <button class="btn btn-danger" confirm-click="deleteTrophy(trophy.id, $index)" confirm-message="Are you sure?"><span class="glyphicon glyphicon-trash"></span> delete</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <div class="well">
                                    <h3 style="margin-top:0;">Add Trophy</h3>
                                    <form class="form-inline" role="form" ng-submit="addTrophy()" autocomplete="off">
                                        <div class="form-group" style="margin-right:20px;">
                                            <label class="sr-only" for="name">Name</label>
                                            <input name="name" type="text" class="form-control" ng-model="newTrophy.name" placeholder="Name" autocomplete="off">
                                        </div>

                                        <div class="form-group" style="margin-right:20px;">
                                            <label class="sr-only" for="type">Type</label>
                                            <input name="type" type="text" class="form-control" ng-model="newTrophy.type" placeholder="Type" autocomplete="off">
                                        </div>

                                        <div class="form-group" style="margin-right:20px;">
                                            <label class="sr-only" for="description">Description</label>
                                            <input name="description" type="text" class="form-control" ng-model="newTrophy.description" placeholder="Description" autocomplete="off">
                                        </div>

                                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
